<ngbd-content-wrapper component="Slider">
  <ngbd-api-docs directive="NgbSlider"></ngbd-api-docs>
  <ngbd-example-box demoTitle="Connect" [htmlSnippet]="snippets.basic.markup" [tsSnippet]="snippets.basic.code">
    <ngbd-slider-basic></ngbd-slider-basic>
  </ngbd-example-box>

  <ngbd-example-box demoTitle="Not connect" [htmlSnippet]="snippets.notConnect.markup" [tsSnippet]="snippets.notConnect.code">
    <ngbd-slider-not-connect></ngbd-slider-not-connect>
  </ngbd-example-box>
</ngbd-content-wrapper>
