<ngbd-content-wrapper component="Accordiontable">
  <ngbd-api-docs directive="NgbAccordiontable"></ngbd-api-docs>

  <ngbd-example-box demoTitle="Basic" [htmlSnippet]="snippets.basic.markup" [tsSnippet]="snippets.basic.code">
    <ngbd-accordiontable-basic></ngbd-accordiontable-basic>
  </ngbd-example-box>

  <ngbd-example-box demoTitle="Enumeration" [htmlSnippet]="snippets.enumeration.markup" [tsSnippet]="snippets.enumeration.code">
    <ngbd-accordiontable-enumeration></ngbd-accordiontable-enumeration>
  </ngbd-example-box>

  <ngbd-example-box demoTitle="Generic" [htmlSnippet]="snippets.generic.markup" [tsSnippet]="snippets.generic.code">
    <ngbd-accordiontable-generic></ngbd-accordiontable-generic>
  </ngbd-example-box>
</ngbd-content-wrapper>
